<ul class="quiz">
  <div class="content">
    <li>
      <h4>
        What is the main purpose of exploratory data analysis (EDA) in data
        science?
      </h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question0" value="A" /><span
              >To understand the data and discover patterns or trends</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="B" /><span
              >To deploy machine learning models</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="C" /><span
              >To write efficient code for data manipulation</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="D" /><span
              >To create data visualizations only</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>What is the purpose of feature scaling in machine learning?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question1" value="A" /><span
              >To bring all features to the same scale or range</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="B" /><span
              >To add new features to the dataset</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="C" /><span
              >To remove irrelevant features</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="D" /><span
              >To calculate feature importance</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>What is the role of cross-validation in machine learning?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question2" value="A" /><span
              >To assess the model's performance and generalization</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="B" /><span
              >To split the dataset into training and testing sets</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="C" /><span
              >To create new features in the dataset</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="D" /><span
              >To visualize the distribution of features</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>
        What is the term for the process of converting categorical variables
        into numerical representations?
      </h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question3" value="A" /><span
              >One-Hot Encoding</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="B" /><span
              >Feature Scaling</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="C" /><span
              >Data Imputation</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="D" /><span
              >Principal Component Analysis (PCA)</span
            ></label
          >
        </li>
      </ul>
    </li>

    <li>
      <h4>
        What is the purpose of the term "overfitting" in machine learning?
      </h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question4" value="A" /><span
              >To build a model that performs well on the training data but
              poorly on new, unseen data</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="B" /><span
              >To improve the model's generalization</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="C" /><span
              >To simplify the model for better interpretability</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="D" /><span
              >To add more features to the dataset</span
            ></label
          >
        </li>
      </ul>
    </li>
    <div id="result"></div>
    <button class="view-results" onclick="returnScore()">View Results</button>
  </div>
</ul>
