* {
  box-sizing: border-box;
  margin: 0;
  font-family: "kanit", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Stiluri pentru bara de navigare transparentă */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 15px 0px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #034866;
  transition: background-color 0.3s ease;
  padding-left: 15%;
  padding-right: 15%;
}

.nav-links {
  display: flex;

  column-gap: 20px;
  margin-right: 10px;
}

.nav-links li a {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-links li a:hover {
  color: #2cbcfa;
}

.nav-colored {
  background-color: #034866;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 48px;
}

.search {
  width: 250px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 40px;
  color: white;
  border: 1px solid #034866;
}

.search input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  height: 30px;
  letter-spacing: 1px;
}

.search button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  color: #034866;
  height: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

@media screen and (max-width: 1168px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background-color: #034866;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: left;
    padding: 10px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    color: white;
  }
}

/* END Stiluri pentru bara de navigare transparentă */

.quiz,
.choices {
  list-style-type: none;
  padding: 0;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choices li {
  margin-bottom: 15px;
  min-width: 500px;
  max-width: 500px !important;
}

h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 500px !important;
}
.choices label {
  display: flex;
  align-items: center;
}
.choices label,
input[type="radio"] {
  cursor: pointer;
}
input[type="radio"] {
  margin-right: 8px;
}
.view-results {
  margin-top: 20px;
  padding: 15px;
  background-color: #034866;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 16px;
}
.view-results:hover {
  background-color: #2cbcfa;
}
.my-results {
  padding: 1rem;
  border: 1px solid goldenrod;
}

li {
  list-style: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

input[type="radio"] + span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 2px solid #3498db;
  background-color: #fff;
  border-radius: 50%;
  transition: background 0.3s;
}

input[type="radio"]:checked + span:before {
  background-color: #3498db;
  border-color: #3498db;
  transition: background 0.3s;
}

#result {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.content {
  margin-top: 100px;
}
