* {
  box-sizing: border-box;
  margin: 0;
  font-family: "kanit", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Stiluri pentru bara de navigare transparentă */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  padding: 15px 0px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #034866;
  transition: background-color 0.3s ease;
  padding-left: 15%;
  padding-right: 15%;
}

.nav-links {
  display: flex;

  column-gap: 20px;
  margin-right: 10px;
}

.nav-links li a {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-links li a:hover {
  color: #2cbcfa;
}

.nav-colored {
  background-color: #034866;
}

.logo {
  margin-right: auto;
}

.logo img {
  height: 48px;
}

.search {
  width: 250px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 40px;
  color: white;
  border: 1px solid #034866;
}

.search input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  color: black;
  height: 30px;
  letter-spacing: 1px;
}

.search button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 500;
  color: #034866;
  height: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

@media screen and (max-width: 1168px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    background-color: #034866;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: left;
    padding: 10px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    color: white;
  }
}

/* END Stiluri pentru bara de navigare transparentă */

:root {
  --text-color: #000000;
  --bg-color: #222222;

  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;

  display: grid;
  place-items: center;
  margin-top: 100px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 60px 0;
}
.card__bx {
  --dark-color: #2e2e2e;
  --dark-alt-color: #777777;
  --white-color: #ffffff;
  --button-color: #333333;
  --transition: 0.5s ease-in-out;

  font-family: inherit;
  height: 350px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
  transition: var(--transition);
}
.card__bx::before,
.card__bx::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: var(--transition);
}
.card__bx::before {
  inset: -10px 50px;
  border-top: 4px solid var(--clr);
  transform: skewY(15deg);
  border-bottom: 4px solid var(--clr);
}
.card__bx:hover::before {
  inset: -10px 40px;
  transform: skewY(0deg);
}
.card__bx::after {
  inset: 60px -10px;
  border-left: 4px solid var(--clr);
  transform: skew(15deg);
  border-right: 4px solid var(--clr);
}
.card__bx:hover::after {
  inset: 40px -10px;
  transform: skew(0deg);
}
.card__bx .card__data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card__bx .card__data .card__icon {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--text-color);
  background-color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data .card__icon {
  color: var(--clr);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--clr);
}
.card__bx:hover .card__data .card__icon {
  color: var(--dark-color);
  background-color: var(--clr);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 300px var(--clr);
}
.card__bx .card__data .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card__bx .card__data h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white-color);
  transition: var(--transition);
}
.card__bx:hover .card__data h3 {
  color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data p {
  font-size: 0.9rem;
  color: var(--dark-alt-color);
  transition: var(--transition);
}
.card__bx:hover .card__data p {
  color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data a {
  position: relative;
  display: inline-flex;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  border: 2px solid var(--clr);
  color: var(--dark-color);
  background-color: var(--clr);
  transition: var(--transition);
}
.card__bx:hover .card__data a {
  color: var(--clr);
  background-color: var(--dark-color);
}
.card__bx:hover .card__data a:hover {
  border-color: var(--dark-color);
  color: var(--dark-color);
  background-color: var(--clr);
}
