<div class="container-area">
  <section class="card__container">
    <div class="card__bx" style="--clr: #89ec5b" (click)="goToCode()">
      <a
        style="
          border: none;
          background-color: transparent;
          outline: none;
          width: 100%;
          height: 100%;
        "
        ><button
          style="
            border: none;
            background-color: transparent;
            outline: none;
            width: 100%;
            height: 100%;
          "
        >
          <div class="card__data">
            <h3>Programming Quiz</h3>
            <div class="card__icon">
              <i class="fas fa-laptop"></i>
            </div>
            <div class="card__content">
              <h3>Coding</h3>
              <p>Try to answer the questions correctly!</p>
            </div>
          </div>
        </button></a
      >
    </div>

    <div class="card__bx" style="--clr: #00ffcc" (click)="goToDataScience()">
      <a
        style="
          border: none;
          background-color: transparent;
          outline: none;
          width: 100%;
          height: 100%;
        "
        ><button
          style="
            border: none;
            background-color: transparent;
            outline: none;
            width: 100%;
            height: 100%;
          "
        >
          <div class="card__data">
            <h3>Data Science Quiz</h3>
            <div class="card__icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="card__content">
              <h3>Data Science</h3>
              <p>Try to answer the questions correctly!</p>
            </div>
          </div>
        </button></a
      >
    </div>

    <div class="card__bx" style="--clr: #89ec5b" (click)="goToMath()">
      <a
        style="
          border: none;
          background-color: transparent;
          outline: none;
          width: 100%;
          height: 100%;
        "
        ><button
          style="
            border: none;
            background-color: transparent;
            outline: none;
            width: 100%;
            height: 100%;
          "
        >
          <div class="card__data">
            <h3>Mathematics Quiz</h3>
            <div class="card__icon">
              <i class="fas fa-calculator"></i>
            </div>
            <div class="card__content">
              <h3>Mathematics</h3>
              <p>Try to answer the questions correctly!</p>
            </div>
          </div>
        </button></a
      >
    </div>
  </section>
</div>
