<ul class="quiz">
  <div class="content">
    <li>
      <h4>What does HTML stand for?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question0" value="A" /><span
              >HyperText Markup Language</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="B" /><span
              >High-Level Text Manipulation Language</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="C" /><span
              >Hyperlink and Text Management Language</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="D" /><span
              >HyperTransfer Markup Language</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>In JavaScript, what is the purpose of the parseInt function?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question1" value="A" /><span
              >To convert a string to an integer</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="B" /><span
              >To parse HTML documents</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="C" /><span
              >To find the first occurrence of a substring</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="D" /><span
              >To declare a variable as an integer</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>Which of the following is a valid declaration of a Python list?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question2" value="A" /><span
              >list = [1, 2, 3]</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="B" /><span
              >list(1, 2, 3)</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="C" /><span
              >list(1, 2, 3)</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="D" /><span
              >list = (1, 2, 3)</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>What does CSS stand for?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question3" value="A" /><span
              >Cascading Style Sheets</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="B" /><span
              >Computer Style Sheets</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="C" /><span
              >Creative Style Sheets</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="D" /><span
              >Colorful Style Sheets</span
            ></label
          >
        </li>
      </ul>
    </li>

    <li>
      <h4>What is the purpose of the "git clone" command in Git?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question4" value="A" /><span
              >To create a copy of a Git repository</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="B" /><span
              >To delete a Git repository</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="C" /><span
              >To merge two branches in Git</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="D" /><span
              >To rename a Git repository</span
            ></label
          >
        </li>
      </ul>
    </li>
    <div id="result"></div>
    <button class="view-results" onclick="returnScore()">View Results</button>
  </div>
</ul>
