<ul class="quiz">
  <div class="content">
    <li>
      <h4>What is the derivative of ln(x) with respect to x?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question0" value="A" /><span
              >1/x</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="B" /><span
              >x</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="C" /><span
              >1</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question0" value="D" /><span
              >cos(x)</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>
        What is the value of the infinite series: 1 + 1/2 + 1/4 + 1/8 + ...?
      </h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question1" value="A" /><span
              >2</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="B" /><span
              >1</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="C" /><span
              >3/2</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question1" value="D" /><span
              >1/2</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>What is the area of a circle with radius 'r' in terms of π?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question2" value="A" /><span
              >πr</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="B" /><span
              >2πr</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="C" /><span
              >πr^2</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question2" value="D" /><span
              >2πr^2</span
            ></label
          >
        </li>
      </ul>
    </li>
    <li>
      <h4>What is the sum of the interior angles of a regular hexagon?</h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question3" value="A" /><span
              >120 degrees</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="B" /><span
              >180 degrees</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="C" /><span
              >360 degrees</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question3" value="D" /><span
              >720 degrees</span
            ></label
          >
        </li>
      </ul>
    </li>

    <li>
      <h4>
        If A and B are matrices, what is the result of the matrix multiplication
        AB?
      </h4>
      <ul class="choices">
        <li>
          <label
            ><input type="radio" name="question4" value="A" /><span
              >It is undefined unless A and B are square matrices</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="B" /><span
              >The product is a matrix with dimensions determined by the number
              of rows in A and the number of columns in B</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="C" /><span
              >The product is a matrix with dimensions determined by the number
              of columns in A and the number of rows in B</span
            ></label
          >
        </li>
        <li>
          <label
            ><input type="radio" name="question4" value="D" /><span
              >The product is always a square matrix</span
            ></label
          >
        </li>
      </ul>
    </li>
    <div id="result"></div>
    <button class="view-results" onclick="returnScore()">View Results</button>
  </div>
</ul>
